@model Customer

@{
    ViewData["Title"] = "View";
}
@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">CustomerId</th>
                <th scope="col">CustomerName</th>
                <th scope="col">ContactName</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">PostalCode</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tr>
            <td scope="row">@Model.CustomerId</td>
            <td scope="row">@Model.CustomerName</td>
            <td scope="row">@Model.ContactName</td>
            <td scope="row">@Model.Address</td>
            <td scope="row">@Model.City</td>
            <td scope="row">@Model.PostalCode</td>
            <td scope="row">@Model.Country</td>
        </tr>
    </table>
}
else
{
    <h1>Customer not found</h1>
}
