@model Customer

@{
    ViewData["Title"] = "View";
}

<h1>Customers</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">CustomerId</th>
            <th scope="col">company name</th>
            <th scope="col">ContactName</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">PostalCode</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
@*    @foreach (Customer item in Model.GetAll())
    {
        <tr>
            <td scope="row">@item.CustomerId</td>
            <td scope="row">@item.Address</td>
            <td scope="row">@item.City</td>
            <td scope="row">@item.PostalCode</td>
            <td scope="row">@item.Country</td>
        </tr>
    }*@
</table>